:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
      --font-heading: "Young Serif", serif;
  --font-body: "Outfit", sans-serif;
}

body {
    font-family: var(--font-body);
    background-color: var(--Stone-100);
    padding: 60px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
    color: var(--Stone-600);
}

img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.prep {
    background-color: var(--Rose-50);
    padding: 20px;
    border-radius: 10px;
}

ul {
  list-style: disc;
  padding-left: 20px;
  color: var(--Stone-600); 
}

ul li::marker {
  color: var(--Brown-800);
  font-weight: 700;
}


li{
    margin-bottom: 12px;
}

ol {
  padding-left: 20px;
}

ol li::marker {
  color: var(--Brown-800);
  font-weight: 700;
}


.card {
    background-color: var(--White);
    width: 100%;
    max-width: 736px;
    border-radius: 24px;
    padding: 48px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.05);
}

h1,
h2 {
    font-family: var(--font-heading);
}

h1{
    font-size: 2rem;
    line-height: 1.2;
    color: var(--Stone-900);
}

h2 {
    color: var(--Brown-800);
}

h3 {
    color: var(--Rose-800);
    font-weight: bold;
}

span {
    font-weight: 700;
}

hr {
    border: none;
    border-top: 1px solid var(--Stone-150);
    margin:30px 0;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table tr td {
  padding: 18px 30px;
  border-bottom: 1px solid var(--Stone-150);
  font-size: 1rem;
}

table tr:last-child td {
  border-bottom: none;
}

table td:first-child {
  color: var(--Stone-600);
}

table td.value {
  color: var(--Brown-800);
  font-weight: 700;
  text-align: left;
  
}

